In [1]:
#importing required packages
import numpy as np
import pandas as pd

pd.options.display.max_columns =None
pd.options.display.max_rows =None

In [2]:
#loading the data
df  = pd.read_csv("E:\Work & Study\MBA\T3\MLP\My works\Datasets\loan_approval_pred.csv")

df.head()
df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [3]:
# Size of the dataset
df.shape

(614, 13)

In [4]:
#Examining the column names and the datatypes
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [5]:
#Finding number of unique values in each column
df.nunique()

Loan_ID              614
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           203
Loan_Amount_Term      10
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

In [6]:
# List all columns
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [7]:
#Statistical understanding about the numerical data
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [8]:
#Find out how many individuals are graduate and non graduate
df.groupby(['Education']).size()

Education
Graduate        480
Not Graduate    134
dtype: int64

In [9]:
#Randomly sampling 10 rows
df.sample(n=10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
306,LP001993,Female,No,0,Graduate,No,3762,1666.0,135.0,360.0,1.0,Rural,Y
164,LP001572,Male,Yes,0,Graduate,No,9323,0.0,75.0,180.0,1.0,Urban,Y
161,LP001562,Male,Yes,0,Graduate,No,7933,0.0,275.0,360.0,1.0,Urban,N
302,LP001974,Female,No,0,Graduate,No,5000,0.0,132.0,360.0,1.0,Rural,Y
287,LP001926,Male,Yes,0,Graduate,No,3704,2000.0,120.0,360.0,1.0,Rural,Y
325,LP002067,Male,Yes,1,Graduate,Yes,8666,4983.0,376.0,360.0,0.0,Rural,N
525,LP002699,Male,Yes,2,Graduate,Yes,17500,0.0,400.0,360.0,1.0,Rural,Y
472,LP002519,Male,Yes,3+,Graduate,No,4691,0.0,100.0,360.0,1.0,Semiurban,Y
561,LP002813,Female,Yes,1,Graduate,Yes,19484,0.0,600.0,360.0,1.0,Semiurban,Y
554,LP002789,Male,Yes,0,Graduate,No,3593,4266.0,132.0,180.0,0.0,Rural,N

In [10]:
#Making a new column based on calcualtion of other columns in the df
df['Total Income'] = (df['ApplicantIncome'] + df['CoapplicantIncome'])
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Total Income
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y,5849.0
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,6091.0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,3000.0
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,4941.0
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,6000.0

In [11]:
df[(df.Gender=='Male') & (df.Loan_Status=='Y')]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Total Income
0,LP001002,Male,No,0,Graduate,No,5849,0.000000,NaN,360.0,1.0,Urban,Y,5849.000000
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.000000,66.0,360.0,1.0,Urban,Y,3000.000000
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.000000,120.0,360.0,1.0,Urban,Y,4941.000000
4,LP001008,Male,No,0,Graduate,No,6000,0.000000,141.0,360.0,1.0,Urban,Y,6000.000000
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.000000,267.0,360.0,1.0,Urban,Y,9613.000000
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.000000,95.0,360.0,1.0,Urban,Y,3849.000000
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.000000,168.0,360.0,1.0,Urban,Y,5532.000000
10,LP001024,Male,Yes,2,Graduate,No,3200,700.000000,70.0,360.0,1.0,Urban,Y,3900.000000
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.000000,109.0,360.0,1.0,Urban,Y,4340.000000
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.000000,200.0,360.0,1.0,Urban,Y,11179.000000
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.000000,17.0,120.0,1.0,Urban,Y,2385.000000
15,LP001032,Male,No,0,Graduate,No,4950,0.000000,125.0,360.0,1.0,Urban,Y,4950.000000
16,LP001034,Male,No,1,Not Graduate,No,3596,0.000000,100.0,240.0,NaN,Urban,Y,3596.000000
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.000000,115.0,NaN,1.0,Urban,Y,6100.000000
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.000000,315.0,360.0,1.0,Urban,Y,11580.000000
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.000000,191.0,360.0,1.0,Semiurban,Y,9560.000000
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.000000,122.0,360.0,1.0,Semiurban,Y,5052.000000
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.000000,110.0,360.0,1.0,Urban,Y,5266.000000
33,LP001098,Male,Yes,0,Graduate,No,3500,1667.000000,114.0,360.0,1.0,Semiurban,Y,5167.000000
35,LP001106,Male,Yes,0,Graduate,No,2275,2067.000000,NaN,360.0,1.0,Urban,Y,4342.000000
38,LP001114,Male,No,0,Graduate,No,4166,7210.000000,184.0,360.0,1.0,Urban,Y,11376.000000
39,LP001116,Male,No,0,Not Graduate,No,3748,1668.000000,110.0,360.0,1.0,Semiurban,Y,5416.000000
41,LP001120,Male,No,0,Graduate,No,1800,1213.000000,47.0,360.0,1.0,Urban,Y,3013.000000
42,LP001123,Male,Yes,0,Graduate,No,2400,0.000000,75.0,360.0,NaN,Urban,Y,2400.000000
43,LP001131,Male,Yes,0,Graduate,No,3941,2336.000000,134.0,360.0,1.0,Semiurban,Y,6277.000000
44,LP001136,Male,Yes,0,Not Graduate,Yes,4695,0.000000,96.0,NaN,1.0,Urban,Y,4695.000000
46,LP001138,Male,Yes,1,Graduate,No,5649,0.000000,44.0,360.0,1.0,Urban,Y,5649.000000
47,LP001144,Male,Yes,0,Graduate,No,5821,0.000000,144.0,360.0,1.0,Urban,Y,5821.000000
55,LP001194,Male,Yes,2,Graduate,No,2708,1167.000000,97.0,360.0,1.0,Semiurban,Y,3875.000000
56,LP001195,Male,Yes,0,Graduate,No,2132,1591.000000,96.0,360.0,1.0,Semiurban,Y,3723.000000
58,LP001198,Male,Yes,1,Graduate,No,8080,2250.000000,180.0,360.0,1.0,Urban,Y,10330.000000
59,LP001199,Male,Yes,2,Not Graduate,No,3357,2859.000000,144.0,360.0,1.0,Urban,Y,6216.000000
60,LP001205,Male,Yes,0,Graduate,No,2500,3796.000000,120.0,360.0,1.0,Urban,Y,6296.000000
61,LP001206,Male,Yes,3+,Graduate,No,3029,0.000000,99.0,360.0,1.0,Urban,Y,3029.000000
67,LP001233,Male,Yes,1,Graduate,No,10750,0.000000,312.0,360.0,1.0,Urban,Y,10750.000000
68,LP001238,Male,Yes,3+,Not Graduate,Yes,7100,0.000000,125.0,60.0,1.0,Urban,Y,7100.000000
70,LP001243,Male,Yes,0,Graduate,No,3208,3066.000000,172.0,360.0,1.0,Urban,Y,6274.000000
71,LP001245,Male,Yes,2,Not Graduate,Yes,1875,1875.000000,97.0,360.0,1.0,Semiurban,Y,3750.000000
72,LP001248,Male,No,0,Graduate,No,3500,0.000000,81.0,300.0,1.0,Semiurban,Y,3500.000000
74,LP001253,Male,Yes,3+,Graduate,Yes,5266,1774.000000,187.0,360.0,1.0,Semiurban,Y,7040.000000
79,LP001264,Male,Yes,3+,Not Graduate,Yes,3333,2166.000000,130.0,360.0,NaN,Semiurban,Y,5499.000000
81,LP001266,Male,Yes,1,Graduate,Yes,2395,0.000000,NaN,360.0,1.0,Semiurban,Y,2395.000000
84,LP001275,Male,Yes,1,Graduate,No,3988,0.000000,50.0,240.0,1.0,Urban,Y,3988.000000
85,LP001279,Male,No,0,Graduate,No,2366,2531.000000,136.0,360.0,1.0,Semiurban,Y,4897.000000
86,LP001280,Male,Yes,2,Not Graduate,No,3333,2000.000000,99.0,360.0,NaN,Semiurban,Y,5333.000000
87,LP001282,Male,Yes,0,Graduate,No,2500,2118.000000,104.0,360.0,1.0,Semiurban,Y,4618.000000
88,LP001289,Male,No,0,Graduate,No,8566,0.000000,210.0,360.0,1.0,Urban,Y,8566.000000
89,LP001310,Male,Yes,0,Graduate,No,5695,4167.000000,175.0,360.0,1.0,Semiurban,Y,9862.000000
90,LP001316,Male,Yes,0,Graduate,No,2958,2900.000000,131.0,360.0,1.0,Semiurban,Y,5858.000000
91,LP001318,Male,Yes,2,Graduate,No,6250,5654.000000,188.0,180.0,1.0,Semiurban,Y,11904.000000
92,LP001319,Male,Yes,2,Not Graduate,No,3273,1820.000000,81.0,360.0,1.0,Urban,Y,5093.000000
93,LP001322,Male,No,0,Graduate,No,4133,0.000000,122.0,360.0,1.0,Semiurban,Y,4133.000000
94,LP001325,Male,No,0,Not Graduate,No,3620,0.000000,25.0,120.0,1.0,Semiurban,Y,3620.000000
97,LP001333,Male,Yes,0,Graduate,No,1977,997.000000,50.0,360.0,1.0,Semiurban,Y,2974.000000
98,LP001334,Male,Yes,0,Not Graduate,No,4188,0.000000,115.0,180.0,1.0,Semiurban,Y,4188.000000
99,LP001343,Male,Yes,0,Graduate,No,1759,3541.000000,131.0,360.0,1.0,Semiurban,Y,5300.000000
100,LP001345,Male,Yes,2,Not Graduate,No,4288,3263.000000,133.0,180.0,1.0,Urban,Y,7551.000000
101,LP001349,Male,No,0,Graduate,No,4843,3806.000000,151.0,360.0,1.0,Semiurban,Y,8649.000000
102,LP001350,Male,Yes,NaN,Graduate,No,13650,0.000000,NaN,360.0,1.0,Urban,Y,13650.000000
103,LP001356,Male,Yes,0,Graduate,No,4652,3583.000000,NaN,360.0,1.0,Semiurban,Y,8235.000000
104,LP001357,Male,NaN,NaN,Graduate,No,3816,754.000000,160.0,360.0,1.0,Urban,Y,4570.000000
105,LP001367,Male,Yes,1,Graduate,No,3052,1030.000000,100.0,360.0,1.0,Urban,Y,4082.000000
106,LP001369,Male,Yes,2,Graduate,No,11417,1126.000000,225.0,360.0,1.0,Urban,Y,12543.000000
109,LP001384,Male,Yes,3+,Not Graduate,No,2071,754.000000,94.0,480.0,1.0,Semiurban,Y,2825.000000
110,LP001385,Male,No,0,Graduate,No,5316,0.000000,136.0,360.0,1.0,Urban,Y,5316.000000
114,LP001398,Male,No,0,Graduate,NaN,5050,0.000000,118.0,360.0,1.0,Semiurban,Y,5050.000000
115,LP001401,Male,Yes,1,Graduate,No,14583,0.000000,185.0,180.0,1.0,Rural,Y,14583.000000
117,LP001405,Male,Yes,1,Graduate,No,2214,1398.000000,85.0,360.0,NaN,Urban,Y,3612.000000
120,LP001426,Male,Yes,NaN,Graduate,No,5667,2667.000000,180.0,360.0,1.0,Rural,Y,8334.000000
123,LP001432,Male,Yes,2,Graduate,No,2957,0.000000,81.0,360.0,1.0,Semiurban,Y,2957.000000
124,LP001439,Male,Yes,0,Not Graduate,No,4300,2014.000000,194.0,360.0,1.0,Rural,Y,6314.000000
127,LP001449,Male,No,0,Graduate,No,3865,1640.000000,NaN,360.0,1.0,Rural,Y,5505.000000
130,LP001469,Male,No,0,Graduate,Yes,20166,0.000000,650.0,480.0,NaN,Urban,Y,20166.000000
131,LP001473,Male,No,0,Graduate,No,2014,1929.000000,74.0,360.0,1.0,Urban,Y,3943.000000
132,LP001478,Male,No,0,Graduate,No,2718,0.000000,70.0,360.0,1.0,Semiurban,Y,2718.000000
133,LP001482,Male,Yes,0,Graduate,Yes,3459,0.000000,25.0,120.0,1.0,Semiurban,Y,3459.000000
134,LP001487,Male,No,0,Graduate,No,4895,0.000000,102.0,360.0,1.0,Semiurban,Y,4895.000000
137,LP001491,Male,Yes,2,Graduate,Yes,3316,3500.000000,88.0,360.0,1.0,Urban,Y,6816.000000
141,LP001498,Male,No,0,Graduate,No,5417,0.000000,168.0,360.0,1.0,Urban,Y,5417.000000
142,LP001504,Male,No,0,Graduate,Yes,6950,0.000000,175.0,180.0,1.0,Semiurban,Y,6950.000000
143,LP001507,Male,Yes,0,Graduate,No,2698,2034.000000,122.0,360.0,1.0,Semiurban,Y,4732.000000
144,LP001508,Male,Yes,2,Graduate,No,11757,0.000000,187.0,180.0,1.0,Urban,Y,11757.000000
147,LP001518,Male,Yes,1,Graduate,No,1538,1425.000000,30.0,360.0,1.0,Urban,Y,2963.000000
149,LP001520,Male,Yes,0,Graduate,No,4860,830.000000,125.0,360.0,1.0,Semiurban,Y,5690.000000
151,LP001529,Male,Yes,0,Graduate,Yes,2577,3750.000000,152.0,360.0,1.0,Rural,Y,6327.000000
154,LP001535,Male,No,0,Graduate,No,3254,0.000000,50.0,360.0,1.0,Urban,Y,3254.000000
155,LP001536,Male,Yes,3+,Graduate,No,39999,0.000000,600.0,180.0,0.0,Semiurban,Y,39999.000000
156,LP001541,Male,Yes,1,Graduate,No,6000,0.000000,160.0,360.0,NaN,Rural,Y,6000.000000
157,LP001543,Male,Yes,1,Graduate,No,9538,0.000000,187.0,360.0,1.0,Urban,Y,9538.000000
158,LP001546,Male,No,0,Graduate,NaN,2980,2083.000000,120.0,360.0,1.0,Rural,Y,5063.000000
159,LP001552,Male,Yes,0,Graduate,No,4583,5625.000000,255.0,360.0,1.0,Semiurban,Y,10208.000000
160,LP001560,Male,Yes,0,Not Graduate,No,1863,1041.000000,98.0,360.0,1.0,Semiurban,Y,2904.000000
163,LP001570,Male,Yes,2,Graduate,No,4167,1447.000000,158.0,360.0,1.0,Rural,Y,5614.000000
164,LP001572,Male,Yes,0,Graduate,No,9323,0.000000,75.0,180.0,1.0,Urban,Y,9323.000000
165,LP001574,Male,Yes,0,Graduate,No,3707,3166.000000,182.0,NaN,1.0,Rural,Y,6873.000000
167,LP001578,Male,Yes,0,Graduate,No,2439,3333.000000,129.0,360.0,1.0,Rural,Y,5772.000000
169,LP001580,Male,Yes,2,Graduate,No,8000,0.000000,200.0,360.0,1.0,Semiurban,Y,8000.000000
170,LP001581,Male,Yes,0,Not Graduate,NaN,1820,1769.000000,95.0,360.0,1.0,Rural,Y,3589.000000
173,LP001594,Male,Yes,0,Graduate,No,5708,5625.000000,187.0,360.0,1.0,Semiurban,Y,11333.000000
175,LP001606,Male,Yes,0,Graduate,No,3497,1964.000000,116.0,360.0,1.0,Rural,Y,5461.000000
176,LP001608,Male,Yes,2,Graduate,No,2045,1619.000000,101.0,360.0,1.0,Rural,Y,3664.000000
178,LP001616,Male,Yes,1,Graduate,No,3750,0.000000,116.0,360.0,1.0,Semiurban,Y,3750.000000
182,LP001636,Male,Yes,0,Graduate,No,4600,0.000000,73.0,180.0,1.0,Semiurban,Y,4600.000000
185,LP001640,Male,Yes,0,Graduate,Yes,39147,4750.000000,120.0,360.0,1.0,Semiurban,Y,43897.000000
187,LP001643,Male,Yes,0,Graduate,No,2383,2138.000000,58.0,360.0,NaN,Rural,Y,4521.000000
189,LP001647,Male,Yes,0,Graduate,No,9328,0.000000,188.0,180.0,1.0,Rural,Y,9328.000000
190,LP001653,Male,No,0,Not Graduate,No,4885,0.000000,48.0,360.0,1.0,Rural,Y,4885.000000
193,LP001658,Male,No,0,Graduate,No,3858,0.000000,76.0,360.0,1.0,Semiurban,Y,3858.000000
194,LP001664,Male,No,0,Graduate,No,4191,0.000000,120.0,360.0,1.0,Rural,Y,4191.000000
196,LP001666,Male,No,0,Graduate,No,8333,3750.000000,187.0,360.0,1.0,Rural,Y,12083.000000
200,LP001674,Male,Yes,1,Not Graduate,No,2600,2500.000000,90.0,360.0,1.0,Semiurban,Y,5100.000000
201,LP001677,Male,No,2,Graduate,No,4923,0.000000,166.0,360.0,0.0,Semiurban,Y,4923.000000
203,LP001688,Male,Yes,1,Not Graduate,No,3500,1083.000000,135.0,360.0,1.0,Urban,Y,4583.000000
204,LP001691,Male,Yes,2,Not Graduate,No,3917,0.000000,124.0,360.0,1.0,Semiurban,Y,3917.000000
207,LP001698,Male,No,0,Not Graduate,No,3975,2531.000000,55.0,360.0,1.0,Rural,Y,6506.000000
208,LP001699,Male,No,0,Graduate,No,2479,0.000000,59.0,360.0,1.0,Urban,Y,2479.000000
212,LP001713,Male,Yes,1,Graduate,Yes,7787,0.000000,240.0,360.0,1.0,Urban,Y,7787.000000
213,LP001715,Male,Yes,3+,Not Graduate,Yes,5703,0.000000,130.0,360.0,1.0,Rural,Y,5703.000000
214,LP001716,Male,Yes,0,Graduate,No,3173,3021.000000,137.0,360.0,1.0,Urban,Y,6194.000000
215,LP001720,Male,Yes,3+,Not Graduate,No,3850,983.000000,100.0,360.0,1.0,Semiurban,Y,4833.000000
217,LP001726,Male,Yes,0,Graduate,No,3727,1775.000000,131.0,360.0,1.0,Semiurban,Y,5502.000000
221,LP001743,Male,Yes,2,Graduate,No,4009,1717.000000,116.0,360.0,1.0,Semiurban,Y,5726.000000
222,LP001744,Male,No,0,Graduate,No,2971,2791.000000,144.0,360.0,1.0,Semiurban,Y,5762.000000
223,LP001749,Male,Yes,0,Graduate,No,7578,1010.000000,175.0,NaN,1.0,Semiurban,Y,8588.000000
224,LP001750,Male,Yes,0,Graduate,No,6250,0.000000,128.0,360.0,1.0,Semiurban,Y,6250.000000
227,LP001758,Male,Yes,2,Graduate,No,6250,1695.000000,210.0,360.0,1.0,Semiurban,Y,7945.000000
228,LP001760,Male,NaN,NaN,Graduate,No,4758,0.000000,158.0,480.0,1.0,Semiurban,Y,4758.000000
229,LP001761,Male,No,0,Graduate,Yes,6400,0.000000,200.0,360.0,1.0,Rural,Y,6400.000000
230,LP001765,Male,Yes,1,Graduate,No,2491,2054.000000,104.0,360.0,1.0,Semiurban,Y,4545.000000
231,LP001768,Male,Yes,0,Graduate,NaN,3716,0.000000,42.0,180.0,1.0,Rural,Y,3716.000000
232,LP001770,Male,No,0,Not Graduate,No,3189,2598.000000,120.0,NaN,1.0,Rural,Y,5787.000000
234,LP001778,Male,Yes,1,Graduate,No,3155,1779.000000,140.0,360.0,1.0,Semiurban,Y,4934.000000
235,LP001784,Male,Yes,1,Graduate,No,5500,1260.000000,170.0,360.0,1.0,Rural,Y,6760.000000
239,LP001792,Male,Yes,1,Graduate,No,3315,0.000000,96.0,360.0,1.0,Semiurban,Y,3315.000000
240,LP001798,Male,Yes,2,Graduate,No,5819,5000.000000,120.0,360.0,1.0,Rural,Y,10819.000000
242,LP001806,Male,No,0,Graduate,No,2965,5701.000000,155.0,60.0,1.0,Urban,Y,8666.000000
243,LP001807,Male,Yes,2,Graduate,Yes,6250,1300.000000,108.0,360.0,1.0,Rural,Y,7550.000000
244,LP001811,Male,Yes,0,Not Graduate,No,3406,4417.000000,123.0,360.0,1.0,Semiurban,Y,7823.000000
246,LP001814,Male,Yes,2,Graduate,No,9703,0.000000,112.0,360.0,1.0,Urban,Y,9703.000000
247,LP001819,Male,Yes,1,Not Graduate,No,6608,0.000000,137.0,180.0,1.0,Urban,Y,6608.000000
248,LP001824,Male,Yes,1,Graduate,No,2882,1843.000000,123.0,480.0,1.0,Semiurban,Y,4725.000000
249,LP001825,Male,Yes,0,Graduate,No,1809,1868.000000,90.0,360.0,1.0,Urban,Y,3677.000000
252,LP001841,Male,No,0,Not Graduate,Yes,2583,2167.000000,104.0,360.0,1.0,Rural,Y,4750.000000
253,LP001843,Male,Yes,1,Not Graduate,No,2661,7101.000000,279.0,180.0,1.0,Semiurban,Y,9762.000000
260,LP001865,Male,Yes,1,Graduate,No,6083,4250.000000,330.0,360.0,NaN,Urban,Y,10333.000000
261,LP001868,Male,No,0,Graduate,No,2060,2209.000000,134.0,360.0,1.0,Semiurban,Y,4269.000000
264,LP001872,Male,No,0,Graduate,Yes,5166,0.000000,128.0,360.0,1.0,Semiurban,Y,5166.000000
265,LP001875,Male,No,0,Graduate,No,4095,3447.000000,151.0,360.0,1.0,Rural,Y,7542.000000
266,LP001877,Male,Yes,2,Graduate,No,4708,1387.000000,150.0,360.0,1.0,Semiurban,Y,6095.000000
267,LP001882,Male,Yes,3+,Graduate,No,4333,1811.000000,160.0,360.0,0.0,Urban,Y,6144.000000
271,LP001891,Male,Yes,0,Graduate,No,11146,0.000000,136.0,360.0,1.0,Urban,Y,11146.000000
272,LP001892,Male,No,0,Graduate,No,2833,1857.000000,126.0,360.0,1.0,Rural,Y,4690.000000
273,LP001894,Male,Yes,0,Graduate,No,2620,2223.000000,150.0,360.0,1.0,Semiurban,Y,4843.000000
274,LP001896,Male,Yes,2,Graduate,No,3900,0.000000,90.0,360.0,1.0,Semiurban,Y,3900.000000
275,LP001900,Male,Yes,1,Graduate,No,2750,1842.000000,115.0,360.0,1.0,Semiurban,Y,4592.000000
276,LP001903,Male,Yes,0,Graduate,No,3993,3274.000000,207.0,360.0,1.0,Semiurban,Y,7267.000000
277,LP001904,Male,Yes,0,Graduate,No,3103,1300.000000,80.0,360.0,1.0,Urban,Y,4403.000000
278,LP001907,Male,Yes,0,Graduate,No,14583,0.000000,436.0,360.0,1.0,Semiurban,Y,14583.000000
281,LP001914,Male,Yes,0,Graduate,No,3927,800.000000,112.0,360.0,1.0,Semiurban,Y,4727.000000
282,LP001915,Male,Yes,2,Graduate,No,2301,985.799988,78.0,180.0,1.0,Urban,Y,3286.799988
285,LP001924,Male,No,0,Graduate,No,3158,3053.000000,89.0,360.0,1.0,Rural,Y,6211.000000
287,LP001926,Male,Yes,0,Graduate,No,3704,2000.000000,120.0,360.0,1.0,Rural,Y,5704.000000
289,LP001935,Male,No,0,Graduate,No,9508,0.000000,187.0,360.0,1.0,Rural,Y,9508.000000
290,LP001936,Male,Yes,0,Graduate,No,3075,2416.000000,139.0,360.0,1.0,Rural,Y,5491.000000
292,LP001940,Male,Yes,2,Graduate,No,3153,1560.000000,134.0,360.0,1.0,Urban,Y,4713.000000
294,LP001947,Male,Yes,0,Graduate,No,2383,3334.000000,172.0,360.0,1.0,Semiurban,Y,5717.000000
295,LP001949,Male,Yes,3+,Graduate,NaN,4416,1250.000000,110.0,360.0,1.0,Urban,Y,5666.000000
296,LP001953,Male,Yes,1,Graduate,No,6875,0.000000,200.0,360.0,1.0,Semiurban,Y,6875.000000
301,LP001972,Male,Yes,NaN,Not Graduate,No,2875,1750.000000,105.0,360.0,1.0,Semiurban,Y,4625.000000
303,LP001977,Male,Yes,1,Graduate,No,1625,1803.000000,96.0,360.0,1.0,Urban,Y,3428.000000
304,LP001978,Male,No,0,Graduate,No,4000,2500.000000,140.0,360.0,1.0,Rural,Y,6500.000000
309,LP001998,Male,Yes,2,Not Graduate,No,7667,0.000000,185.0,360.0,NaN,Rural,Y,7667.000000
311,LP002004,Male,No,0,Not Graduate,No,2927,2405.000000,111.0,360.0,1.0,Semiurban,Y,5332.000000
313,LP002008,Male,Yes,2,Graduate,Yes,5746,0.000000,144.0,84.0,NaN,Rural,Y,5746.000000
315,LP002031,Male,Yes,1,Not Graduate,No,3399,1640.000000,111.0,180.0,1.0,Urban,Y,5039.000000
316,LP002035,Male,Yes,2,Graduate,No,3717,0.000000,120.0,360.0,1.0,Semiurban,Y,3717.000000
317,LP002036,Male,Yes,0,Graduate,No,2058,2134.000000,88.0,360.0,NaN,Urban,Y,4192.000000
320,LP002051,Male,Yes,0,Graduate,No,2400,2167.000000,115.0,360.0,1.0,Semiurban,Y,4567.000000
321,LP002053,Male,Yes,3+,Graduate,No,4342,189.000000,124.0,360.0,1.0,Semiurban,Y,4531.000000
322,LP002054,Male,Yes,2,Not Graduate,No,3601,1590.000000,NaN,360.0,1.0,Rural,Y,5191.000000
324,LP002065,Male,Yes,3+,Graduate,No,15000,0.000000,300.0,360.0,1.0,Rural,Y,15000.000000
326,LP002068,Male,No,0,Graduate,No,4917,0.000000,130.0,360.0,0.0,Rural,Y,4917.000000
327,LP002082,Male,Yes,0,Graduate,Yes,5818,2160.000000,184.0,360.0,1.0,Semiurban,Y,7978.000000
330,LP002097,Male,No,1,Graduate,No,4384,1793.000000,117.0,360.0,1.0,Urban,Y,6177.000000
331,LP002098,Male,No,0,Graduate,No,2935,0.000000,98.0,360.0,1.0,Semiurban,Y,2935.000000
332,LP002100,Male,No,NaN,Graduate,No,2833,0.000000,71.0,360.0,1.0,Urban,Y,2833.000000
333,LP002101,Male,Yes,0,Graduate,NaN,63337,0.000000,490.0,180.0,1.0,Urban,Y,63337.000000
335,LP002106,Male,Yes,NaN,Graduate,Yes,5503,4490.000000,70.0,NaN,1.0,Semiurban,Y,9993.000000
336,LP002110,Male,Yes,1,Graduate,NaN,5250,688.000000,160.0,360.0,1.0,Rural,Y,5938.000000
337,LP002112,Male,Yes,2,Graduate,Yes,2500,4600.000000,176.0,360.0,1.0,Rural,Y,7100.000000
342,LP002119,Male,Yes,1,Not Graduate,No,4554,1229.000000,158.0,360.0,1.0,Urban,Y,5783.000000
343,LP002126,Male,Yes,3+,Not Graduate,No,3173,0.000000,74.0,360.0,1.0,Semiurban,Y,3173.000000
344,LP002128,Male,Yes,2,Graduate,NaN,2583,2330.000000,125.0,360.0,1.0,Rural,Y,4913.000000
345,LP002129,Male,Yes,0,Graduate,No,2499,2458.000000,160.0,360.0,1.0,Semiurban,Y,4957.000000
347,LP002131,Male,Yes,2,Not Graduate,No,3083,2168.000000,126.0,360.0,1.0,Urban,Y,5251.000000
348,LP002137,Male,Yes,0,Graduate,No,6333,4583.000000,259.0,360.0,NaN,Semiurban,Y,10916.000000
349,LP002138,Male,Yes,0,Graduate,No,2625,6250.000000,187.0,360.0,1.0,Rural,Y,8875.000000
350,LP002139,Male,Yes,0,Graduate,No,9083,0.000000,228.0,360.0,1.0,Semiurban,Y,9083.000000
352,LP002141,Male,Yes,3+,Graduate,No,2666,2083.000000,95.0,360.0,1.0,Rural,Y,4749.000000
356,LP002149,Male,Yes,2,Graduate,No,8333,3167.000000,165.0,360.0,1.0,Rural,Y,11500.000000
359,LP002160,Male,Yes,3+,Graduate,No,5167,3167.000000,200.0,360.0,1.0,Semiurban,Y,8334.000000
361,LP002170,Male,Yes,2,Graduate,No,5000,3667.000000,236.0,360.0,1.0,Semiurban,Y,8667.000000
362,LP002175,Male,Yes,0,Graduate,No,4750,2333.000000,130.0,360.0,1.0,Urban,Y,7083.000000
363,LP002178,Male,Yes,0,Graduate,No,3013,3033.000000,95.0,300.0,NaN,Urban,Y,6046.000000
364,LP002180,Male,No,0,Graduate,Yes,6822,0.000000,141.0,360.0,1.0,Rural,Y,6822.000000
368,LP002190,Male,Yes,1,Graduate,No,6325,0.000000,175.0,360.0,1.0,Semiurban,Y,6325.000000
371,LP002197,Male,Yes,2,Graduate,No,5185,0.000000,155.0,360.0,1.0,Semiurban,Y,5185.000000
372,LP002201,Male,Yes,2,Graduate,Yes,9323,7873.000000,380.0,300.0,1.0,Rural,Y,17196.000000
375,LP002211,Male,Yes,0,Graduate,No,4817,923.000000,120.0,180.0,1.0,Urban,Y,5740.000000
376,LP002219,Male,Yes,3+,Graduate,No,8750,4996.000000,130.0,360.0,1.0,Rural,Y,13746.000000
377,LP002223,Male,Yes,0,Graduate,No,4310,0.000000,130.0,360.0,NaN,Semiurban,Y,4310.000000
379,LP002225,Male,Yes,2,Graduate,No,5391,0.000000,130.0,360.0,1.0,Urban,Y,5391.000000
380,LP002226,Male,Yes,0,Graduate,NaN,3333,2500.000000,128.0,360.0,1.0,Semiurban,Y,5833.000000
381,LP002229,Male,No,0,Graduate,No,5941,4232.000000,296.0,360.0,1.0,Semiurban,Y,10173.000000
383,LP002234,Male,No,0,Graduate,Yes,7167,0.000000,128.0,360.0,1.0,Urban,Y,7167.000000
385,LP002237,Male,No,1,Graduate,NaN,3667,0.000000,113.0,180.0,1.0,Urban,Y,3667.000000
386,LP002239,Male,No,0,Not Graduate,No,2346,1600.000000,132.0,360.0,1.0,Semiurban,Y,3946.000000
388,LP002244,Male,Yes,0,Graduate,No,2333,2417.000000,136.0,360.0,1.0,Urban,Y,4750.000000
389,LP002250,Male,Yes,0,Graduate,No,5488,0.000000,125.0,360.0,1.0,Rural,Y,5488.000000
390,LP002255,Male,No,3+,Graduate,No,9167,0.000000,185.0,360.0,1.0,Rural,Y,9167.000000